.box{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-left: 100px;
    background-color: black;
    margin-right: 1650px;
}
.but{
    margin-left: 260px;
    margin-top: -150px;
   
}